*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #8a2be2;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    flex-direction: column;
    button{
        cursor: pointer;
        padding: 10px;
        font-size: 24px;
        letter-spacing: 5px;
        background: transparent;
        color: #fff;
        border: 2px solid;
        margin-bottom: 50px;
        &:active{
            box-shadow: 0px 1px  8px 14px;
        }
    }
    h2{
        text-transform: uppercase;
        border: 2px solid;
        padding: 10px;
    }
}