*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.container{
    background-color: #eeeeee;
    position: relative;

}
.heading h2{
    text-align: center;
    padding-bottom: 30px;
    padding-top: 20px;
}
 
.cakes{
    display: flex;

}
.cake_image{
    padding-top: 20px;
    margin-left: 80px;
}
.cake_image img{
    width:300px;
    height: 300px;
}
.cake1_image{
    padding-top: 20px;
    margin-left: 80px;
}
.cake1_image img{
    width:300px;
    height: 300px;
}
.cake2_image{
    padding-top: 20px;
    margin-left: 80px;
}
.cake2_image img{
    width:300px;
    height: 300px;
}
