body{
    background-color: rgb(226, 226, 91);
}

#game{
    display: flex;
    flex-wrap: wrap;
    height: 500px;
    width:900px;
    margin-top:20px
}

.box{
    height:250px;
    padding: 5px;
    width: 250px;
    margin: 10px auto;
    overflow: hidden;
}
.box span img {
    height:150px;
    width: 200px;
    padding:0px;
    margin: 0px;
}
.hole img{
    height:150px;
    width: 200px;
    margin-top: 50px;

}
.hole{
    height: 200px;
    margin-top: -60px;
    position: sticky;
}

.rat{
    position: relative;
    top:250px;
}

.animate{
    animation: up 1s linear infinite;
}
@keyframes up {
    0%{
        top:200px;
    }
    50%{
        top:20px;
    }
    100%{
        top:200px;
    }
}