*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}
.main{
    width: 80vw;
    height: 60vh;
    border: 10px solid transparent;
    background-image: linear-gradient(134deg, #000000, #f8b0b0);
    .img{
        width: 100%;
        height: 100%;
        background-image: url("../img/slider1.jpg");
        background-size: cover;
        position: relative;
        background-position-y: center;        
        .navigater{
            position: relative; 
            top: 50%;
            transform: translateY(-50%);          
            span{
                font-size: 35px;
                background: #000000c2;
                color: #fff;
                padding: 10px 15px;
                margin: 0px;
                border-radius: 50%;
                font-weight: 700;
                position: absolute;
                cursor: pointer;
                user-select: none;
                top: 50%;
                opacity: .1;
                transition: .5s;
                transform: translateY(-50%) rotateY(180deg);
                &:nth-child(2){
                    right: 0;
                transform: translateY(-50%);
                }
            }
        }
        &:hover{
            .navigater{
                span{
                    opacity: 1;
                }
            }
        }
    }
}