body{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}
.mainform{
    width: 600px;
    height: 500px;
    border: 1 px solid rgb(235, 97, 97);
    border-radius: 25px;
    box-shadow: 0px 0px 20px;
    h1{
        text-align: center;
        text-transform: uppercase;
        background-color: blanchedalmond;
    border-radius: 25px 25px 0px 0px;
    }
    .form{
        padding: 25px;
    }
    #result_p{
        display: none;
    }
}