.add_section{
    width:400px;
    padding:10px;
    background-color: #faf7f7;
    margin-top: 50px;
    border-radius: 10px;
    border:rgb(185, 185, 230) solid;
}

.back{
    margin-left:250px;
}

.add_section_2{
    border:#04f769 solid 1px;
}

.add_section_3{
    padding: 20px;
    width:400px;
    box-shadow: 1px 2px 5px 1px rgb(236, 243, 233);

}

.show{
    border: 0px none;
    background-color: white;
    outline-style: none;
}
.hide{
    border: 0px none;
    outline-style: none;
    background-color:white;
}